*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
}

body {
    margin: auto;
    padding-top: 10px;
    /*display: grid;*/
    align-content: center;
    justify-content: center;
    background-color: darkgrey;
    /*grid-template-columns: 25px 120px 130px 45px 12px 45px 45px 12px 45px 45px 45px 45px 45px 45px 45px 25px;*/
    /*grid-template-rows: repeat(auto,25px);*/
}


table {
    margin: auto;
    padding: 0;
    align-content: center;
    justify-content: center;
    display: table;
    background-color: black;
    border: none;
    border-collapse: collapse;
    outline: none;
    columns: 25px 120px 130px 45px 12px 45px 45px 12px 45px 45px 45px 45px 45px 45px 45px 25px;
}

th {
    border: 1px solid rgb(19, 19, 19);
    /*border: 1px solid white;*/
    outline: none;
    color: white;
    border-collapse:collapse;
    border-bottom: 1px black solid;
}

tbody {

    padding: 0;
    border: none;
    outline: none;
    border-collapse:collapse;

}


div {

    font-size: small;
    padding: 4px;
    background-color: darkgrey;
    text-align: center;
}

tr {
    height: 25px;
    border-collapse: collapse;
    background-color: black;
    border: none;
}



tfoot {
    border-collapse: collapse;
    border: none;
}

.numberheader {
    width: 25px;
    border: none;
    padding-top: 0;
}

.nameheader {
    width: 120px;
    border-left: none;
}

.roleheader {
    width: 130px;
}

.span3header {
    width: 102px;
}

.span5header {
    width: 102px;
}

.statheader {
    width: 45px;
}

.checkheader {
    width: 45px;
}

.recheader {
    width: 75px;
    border-right: none;
}

.deleteheader {
    width: 25px;
    border: none;
}

.numbercell {
    width: 25px;
    background-color: black;
    border: none;
}

.blankcell {
    width: 15px;
    background-color: rgb(73, 73, 73);
    border-right: 2px solid rgb(73, 73, 73);
    border-bottom: 1px solid black;
}

.addbuttoncell {
    width: 25px;
    background-color: black;
    border: none;
}

.namecell {
    width: 120px;
    border-bottom: 1px solid black;
}

.rolecell {
    width: 130px;
    border-bottom: 1px solid black;
}

.checkcell {
    width: 30px;
    margin: auto;
    padding-right: 10px;
    border-bottom: 1px solid black;
}

.staticcell {
    width: 45px;
    border-bottom: 1px solid black;
}

.magnitudecell {
    width: 45px;
    margin: auto;
    text-align: center;
    background-color: white;
    border: 2px solid black;
}

.magnitudecell-disabled {
    width: 45px;
    margin: auto;
    text-align: center;
    background-color: rgb(184, 184, 184);
    color: grey;
    border: 2px solid black;
}

.mpcostcell {
    width: 45px;
    margin: auto;
    text-align: center;
    background-color: rgb(73, 73, 73);
    
}

.hpmpcell {
    width: 45px;
    border: none;
    border-bottom: 1px solid black;
}

.deletecell {
    width: 25px;
    background-color: black;
    border: none;
}

.slashcell {
    width: 12px;
    border: none;
    border-bottom: 1px solid black;
}

td {
    background-color: rgb(73, 73, 73);
    border-right: 2px solid rgb(63, 63, 63);
    border-bottom: 1px solid black;
}

.title {
    font-weight: bold;
    background-color: black;
    color: white;
    padding-top: 4px;
}

.span-2 {
    grid-column: span 3;
    padding: 4px;
    font-weight: bold;
    background-color: black;
    color: white;
}

input {
    width: 100%;
    text-align: center;
    font-weight: bold;
    background-color: rgb(238, 238, 238);
    /*border: 1px solid black;*/
}

select {
    width: 100%;
    text-align: center;
    font-weight: bold;
    background-color: lightgray;
    /*border: 1px solid black;*/
}

.static {
    font-weight: bold;
    text-align: center;
    padding: 4px 0;
    background-color: rgb(73, 73, 73);
    color: white;
    border: none;
    /*border-top: 1px solid black;
    border-bottom: 1px solid black;*/
}

.slash {
    width: 100%;
    font-weight: bold;
    text-align: center;
    padding: 4px 0;
    background-color: rgb(73, 73, 73);
    color: white;
    border: none;
    /*border-top: 1px solid black;
    border-bottom: 1px solid black;*/
}

.numberinput {
    width: 100%;
    font-weight: bold;
    text-align: center;
    padding: 4px 0;
    background-color: rgb(33, 33, 33);
    color: white;
    border: 2px solid black;
}

.buttoncell {
    width: 100%;
    padding: 1px 0;
    font-weight: bold;
    text-align: center;
    background-color: black;
    color: white;
    border: none;
}

.magbuttoncell {
    width:min-content;
    padding: 1px 0;
    font-weight: bold;
    text-align: center;
    background-color: black;
    color: white;
    border: none;
    margin: auto;
}

.delete {
    background-color: black;
    color: white;
}

button {
    font-weight: bold;
    text-align: center;
    background-color: lightgrey;
}

button:active {
    background-color: white;
}

.fullrow {
    grid-column: span 13;
    font-weight: bold;
    text-align: center;
    background-color: black;
    color: white;
}
div.effect-magstyle {
    background-color: white;
    font-weight: bold;
    text-align: center;
    width: 50px;
}

div.effect-magstyle-disabled {
    background-color: rgb(180, 180, 180);
    color: grey;
    font-weight: bold;
    text-align: center;
    width: 50px;
}


div.effect-mpcoststyle {
    background-color: lightgrey;
    font-weight: bold;
    width: 140px;
    text-align: center;
    margin: auto;
}

div.effect-mptotalstyle {
    background-color: lightgrey;
    font-weight: bold;
    width: 140px;
    text-align: center;
    margin: auto;
    border: 3px solid black;
}

div.effect-mptotalstyle-over {
    background-color: lightgrey;
    font-weight: bold;
    width: 140px;
    text-align: center;
    margin: auto;
    border: 3px solid red;
}



.magbutton {
    display: hidden;
}

.load-file {
    
    height: 25px;
    width: 160px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 1px;
    background-color: lightgrey;
    font-weight: bold;
    text-align: center;
    margin: auto;
    border-top: #888 solid 2px;
    border-left: #888 2px solid;
    border-bottom: solid 2px #333;
    border-right: solid 2px #333;
}
.load-file:active {
    background-color: white;
    border-top: #333 solid 2px;
    border-left: #333 2px solid;
    border-bottom: solid 2px #888;
    border-right: solid 2px #888;
}