* {
    font-family: "Press Start 2P",sans-serif;
    font-size: 12px;
    color: lightgray;
}

/* Input Number Arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* Input Number Arrows END */

body {
    background-color: black;
}

.wrapper {
    margin-top: 40vh;
}

.sessiondiv {
    margin: auto;
    margin-top: 350px;
    text-align: center;
    margin: auto;
    width: fit-content;
}

.session {
    margin: auto;
    color: black;
    margin: auto;
    width: 200px;
    line-height: 20px;
}

.login {
    margin: auto;
    width: fit-content;
}

.login-choice {
    margin: auto;
    background-color: darkblue;
    border: 2px solid lightgray;
    border-radius: 2px;
    height: 25px;
    width: 100px;
}

.login-choice:active {
    border: 2px solid gray;
    color: gray;
    font-size: 12.4px;
}

.new-session {
        margin: auto;
        background-color: darkblue;
        border: 2px solid lightgray;
        border-radius: 2px;
        height: 30px;
        width: 100px;
}

.new-session:active {
    border: 2px solid gray;
    color: gray;
    font-size: 12.4px;
}

.session::placeholder{
    color:darkgray;
}

.space {
    font-size: 20px;
}

.hidden {
    visibility: visible;
    color: red;
    font-size: 14px;
}

.fadehide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
  }