table {
    border: 0;
    border-collapse: collapse;
    text-align: center;
    width: auto;
}
tr {
    text-align: center;
}

td {
    text-align: center;
}


.data-table {
    border: 2px solid black;
    text-align: left;
}

.data-cell {
    border: 1px solid black
}

.align-left {
    text-align: left;
}

.wide {
    width: 150px;
}